@model List<FruitablesBL.ViewModels.OrderVM>

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Contact</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Contact</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Contact Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5 ">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Order Name</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Order State</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
           
                @{
                    foreach (FruitablesBL.ViewModels.OrderVM order in Model)
                    {
                        <tr>
                            <td>@order.ID</td>
                            <td>@order.OrderName</td>
                            <td>@order.OrderDate</td>
                            <td>Delivered</td>
                            <td><a asp-controller="Orders" asp-action="ViewFinished" class="btn btn-primary">View</a></td>

                        </tr>
                    
                    }

                }
            </tbody>
        </table>

    </div>
</div>
<!-- Contact End -->
