body {
    background-image: url("/img/BackgroudProfile.png");
    /* background: #3c803d; */
}


.form-control:focus {
    box-shadow: none;
    border-color: #3c803d
}

.profile-button {
    background: #3c803d;
    box-shadow: none;
    border: none;
}

    .profile-button:hover {
        background: #3c803d;
    }

    .profile-button:focus {
        background: #3c803d;
        box-shadow: none;
    }

    .profile-button:active {
        background: #3c803d;
        box-shadow: none;
    }

.back:hover {
    color: #3c803d;
    cursor: pointer;
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8;
}

.ParentDiv
{
    margin-top:12% !important;
}
