body {
    background-image: url("/img/BackgroudProfile.png");
}


.gradient-custom {
    /* fallback for old browsers */
    background: #a6ffcb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom,#0f0c29,#81c408,#addf8d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom,#0f0c29,#81c408,#addf8d);
}
section {
    width: auto;
    height: auto;
}

.divParent{
    margin-top:10%;
}
