
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Contact</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Contact</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Contact Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5 ">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Message</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

               
                        <tr>
                            <td>Message Title</td>
                            <td>Date</td>
                            <td>Body</td>
                            <th><a asp-controller="Messages" asp-action="MessageDelete" class="btn btn-danger">Delete</a></th>

                        </tr>

                    

                
            </tbody>
        </table>

    </div>
</div>
<!-- Contact End -->
