@model FruitablesDAL.Models.FeedBack

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FeedbackId" />
        <input type="submit" value="Delete" class="btn btn-danger ms-5" /> 
    </form>
</div>
